# {{ .PluginName }}

## Summary

[provide a high-level summary of the feature functionality supported by the plugin]

## Overview

[outline how the plugin works - boxes and lines diagrams are helpful here]

## Installation

[describe any unique or nuanced installation requirements for the plugin]

## Usage

[at minimum, provide the output from --help - providing example command output and/or more detailed explanations of commands may also be valuable]

## Documentation

[include, or provide links to, additional resources that users or contributors may find useful here]

## Versioning

[describe how this plugin follows, or the degree to which it follows or doesn't follow semver]

## Contribution

[describe whether/how/where issues/PR's should be submitted]

## Development

[describe steps to clone, test, build/install locally, etc..]

## License

[name and link to the project this plugin is licensed under]
