// svg logo container and sizes
$logo_blue: 'assets/images/vmw-logo.svg';
$logo-cluster-dark: 'assets/images/cluster_dark.svg';
$logo-namespace-dark: 'assets/images/namespace_dark.svg';
$logo-node-dark: 'assets/images/node_dark.svg';
$logo-cluster-light: 'assets/images/cluster_light.svg';
$logo-namespace-light: 'assets/images/namespace_light.svg';
$logo-node-light: 'assets/images/node_light.svg';

$logo-vsphere: 'assets/images/vsphere.svg';
$logo-aws-ec2: 'assets/images/aws-ec2.svg';
$logo-ms-azure: 'assets/images/ms-azure.svg';
$logo-docker: 'assets/images/docker.svg';

$small: '576px';
$medium: '768px';
$large: '992px';
$extra-large: '1200px';

$bg-color-light: #fafafa;
$bg-color-dark: #1b2a32;

// light theme overrides
$label-color-light-theme: #454545;

// dark theme overrides
$header-background-dark-theme: #485a6a;
$label-color-dark-theme: #acbac3;
$form-error-text-dark-theme: #F76B64;

