* @vmware-tanzu/tanzu-framework-reviewers
/addons @shyaamsn @danniel1205
/addons/pinniped @vmware-tanzu/tkg-iam-owners
/cmd/cli @Anuj2512
/cmd/cli/plugin/tkr @prkalle
/pkg/v1/cli @miclettej @Anuj2512
/pkg/v1/providers @vmware-tanzu/tanzu-framework-lcm-reviewers @Anuj2512
/pkg/v1/providers/ytt/02_addons/auth @vmware-tanzu/tkg-iam-owners
/pkg/v1/providers/ytt/02_addons/avi @XudongLiuHarold @iXinqi
/pkg/v1/providers/ytt/03_customizations/02_avi @XudongLiuHarold @iXinqi
/pkg/v1/tkr @prkalle
/pkg/v1/tkg @vmware-tanzu/tanzu-framework-lcm-reviewers
/pkg/v1/tkg/tkgpackagedatamodel @shyaamsn @danniel1205 @maralavi @shivaani0505 @ggpaue @blc1996
/pkg/v1/tkg/kappclient @shyaamsn @danniel1205 @maralavi @shivaani0505 @ggpaue @blc1996
/pkg/v1/tkg/tkgpackageclient @shyaamsn @danniel1205 @maralavi @shivaani0505 @ggpaue @blc1996
/pkg/v1/tkg/test/tkgpackageclient @shyaamsn @danniel1205 @maralavi @shivaani0505 @ggpaue @blc1996
/cmd/cli/plugin/package @shyaamsn @danniel1205 @maralavi @shivaani0505 @ggpaue @blc1996
/cmd/cli/plugin/imagepullsecret @shyaamsn @danniel1205 @maralavi @shivaani0505 @ggpaue @blc1996
/cmd/cli/plugin/pinniped-auth @vmware-tanzu/tkg-iam-owners
/pkg/v1/tkg/tkgconfigpaths @vmware-tanzu/tanzu-framework-release-team
