* @vmware-tanzu/tanzu-framework-reviewers
/addons @vmware-tanzu/tanzu-framework-reviewers @shyaamsn @danniel1205
/cmd/cli @vmware-tanzu/tanzu-framework-reviewers @Anuj2512
/cmd/cli/plugin/tkr @vmware-tanzu/tanzu-framework-reviewers @prkalle
/pkg/v1/cli @vmware-tanzu/tanzu-framework-reviewers @miclettej @Anuj2512
/pkg/v1/providers @vmware-tanzu/tanzu-framework-reviewers @Anuj2512
/pkg/v1/tkr @vmware-tanzu/tanzu-framework-reviewers @prkalle
/pkg/v1/tkg/tkgpackagedatamodel @vmware-tanzu/tanzu-framework-reviewers @shyaamsn @danniel1205 @maralavi @shivaani0505 @ggpaue @blc1996
/pkg/v1/tkg/kappclient @vmware-tanzu/tanzu-framework-reviewers @shyaamsn @danniel1205 @maralavi @shivaani0505 @ggpaue @blc1996
/pkg/v1/tkg/tkgpackageclient @vmware-tanzu/tanzu-framework-reviewers @shyaamsn @danniel1205 @maralavi @shivaani0505 @ggpaue @blc1996
/cmd/cli/plugin/package @vmware-tanzu/tanzu-framework-reviewers @shyaamsn @danniel1205 @maralavi @shivaani0505 @ggpaue @blc1996
