clr-radio-container label {
    padding-bottom: 12px;
    font-size: 14px;
}
.clr-textarea {
    width: 500px;
    height: 120px;
}

.modal-title {
    .vsphere-icon-30 {
        margin-right: 8px;
    }
}

button.btn.btn-primary.btn-width-350 {
    max-width: 350px;
    width: 350px;
}

.btn.btn-browse {
    padding-left: 0;
}

