<div class="clr-row">
    <div class="clr-col-12">
        <h2 aria-level="1"><div class="{{ landingPageContent?.logoClass }}"></div>{{ landingPageContent?.title }}</h2>
        <p [innerHtml]="landingPageContent?.intro">
        </p>
    </div>
</div>
<div class="clr-row">
    <div class="clr-col-lg-12 clr-col-sm-12 clr-col-12">
        <h4 aria-level="2">Deploy the {{ clusterType }} cluster</h4>
    </div>
</div>
<div class="clr-row" *ngIf="!loading">
    <div class="clr-col-lg-4 clr-col-sm-6 clr-col-12" *ngIf="edition === 'tce' || edition === 'tce-standalone'">
        <div class="card provider">
            <div class="card-block">
                <div class="card-title">
                    Docker
                </div>
                <div class="card-media-block wrap">
                    <div class="docker-icon-48"></div>
                </div>
                <p class="card-text">
                    Deploy your {{ clusterType }} cluster on your local workstation
                </p>
            </div>
            <div class="card-footer">
                <button
                    class="btn btn-primary"
                    id="btn-deploy-docker"
                    (click)="navigateToWizard(PROVIDERS.DOCKER)"
                    [attr.aria-label]="'deploy on docker'">
                    Deploy
                </button>
            </div>
        </div>
    </div>
    <div class="clr-col-lg-4 clr-col-sm-6 clr-col-12">
        <div class="card provider">
            <div class="card-block">
                <div class="card-title">
                    VMware vSphere
                </div>
                <div class="card-media-block wrap">
                    <div class="vsphere-icon-48"></div>
                </div>
                <p class="card-text">
                    Deploy your {{ clusterType }} cluster on VMware vSphere
                </p>
            </div>
            <div class="card-footer">
                <button
                    class="btn btn-primary"
                    id="btn-deploy-vsphere"
                    (click)="navigateToWizard(PROVIDERS.VSPHERE)"
                    [attr.aria-label]="'deploy on vmware vsphere'">
                    Deploy
                </button>
            </div>
        </div>
    </div>
    <div class="clr-col-lg-4 clr-col-sm-6 clr-col-12">
        <div class="card provider">
            <div class="card-block">
                <div class="card-title">
                    Amazon Web Services
                </div>
                <div class="card-media-block wrap">
                    <div class="aws-ec2-icon-48"></div>
                </div>
                <p class="card-text">
                    Deploy your {{ clusterType }} cluster on Amazon Elastic Compute Cloud
                </p>
            </div>
            <div class="card-footer">
                <button
                    class="btn btn-primary"
                    id="btn-deploy-aws"
                    (click)="navigateToWizard(PROVIDERS.AWS)"
                    [attr.aria-label]="'deploy on Amazon Web Services'">
                    Deploy
                </button>
            </div>
        </div>
    </div>
    <div class="clr-col-lg-4 clr-col-sm-6 clr-col-12">
        <div class="card provider">
            <div class="card-block">
                <div class="card-title">
                    Microsoft Azure
                </div>
                <div class="card-media-block wrap">
                    <div class="ms-azure-icon-48"></div>
                </div>
                <p class="card-text">
                    Deploy your {{ clusterType }} cluster on Microsoft Azure
                </p>
            </div>
            <div class="card-footer">
                <button
                    class="btn btn-primary"
                    id="btn-deploy-azure"
                    (click)="navigateToWizard(PROVIDERS.AZURE)"
                    [attr.aria-label]="'deploy on microsoft azure'">
                    Deploy
                </button>
            </div>
        </div>
    </div>
</div>
<div class="clr-row" *ngIf="loading">
    <div class="clr-col-12">
        <div class="text-center mt-20">
            <span class="spinner spinner-lg">
                Loading...
            </span>
        </div>
    </div>
</div>
