<form [formGroup]="formGroup" *ngIf="displayForm">
    <div *ngIf="errorNotification" class="alert alert-danger" role="alert">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span class="alert-text">
                    {{ errorNotification }}
                </span>
            </div>
        </div>
        <button (click)="errorNotification = null" type="button" class="close" aria-label="Close">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
    </div>

    <h4 i18n="cluster settings" aria-level="2">
        {{ clusterType | titlecase }} Cluster Settings
    </h4>

    <div class="clr-row fix-zindex-100">
        <div class="clr-col-lg-6 clr-col-12">
            <a class="card clickable" [ngClass]="{'card-selected': getEnvType()==='dev'}" (click)="cardClick('dev')" role="none">
                <div class="card-block">
                    <clr-icon class="card-icon" shape="computer" size="72">
                    </clr-icon>
                    <p class="card-title" i18n="development control plane title">
                        Development
                    </p>
                    <p i18n="development description" class="card-text">
                        Single control plane node. Recommended for a development environment.
                    </p>
                </div>
                <div class="card-footer">
                    <div
                            class="clr-row"
                            [attr.data-step-metadata]="formName"
                            [attr.data-value]="devInstanceTypeValue"
                            data-name="devInstanceType"
                            data-label="dev instance type">
                        <div class="clr-col-lg-5 clr-col-12">
                            <label i18n="instance type label" data-full="Development instance type">
                                INSTANCE TYPE
                                <clr-tooltip>
                                    <clr-icon aria-live="assertive" a11yTooltipTrigger shape="info-circle" size="22"></clr-icon>
                                    <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
                                    <span>
                                        Choose the configuration for the control plane node VMs depending on
                                        the expected number of workload clusters to manage.
                                    </span>
                                    </clr-tooltip-content>
                                </clr-tooltip>
                            </label>
                        </div>
                        <div class="clr-col-lg-7 clr-col-12">
                            <clr-datalist-container>
                                <!-- Add a invisible label to avoid accessiblity issue -->
                                <label style="display: none;">prod instance type</label>
                                <input clrDatalistInput name="devInstanceType" formControlName="devInstanceType" role="listbox" aria-label="development instance type" autocomplete="off"/>
                                <datalist id="devInstanceType">
                                    <option *ngFor="let nodeType of nodeTypes" [value]="nodeType"></option>
                                </datalist>
                                <!-- Add a empty helper to avoid accessiblity aira-describeby issue -->
                                <clr-control-helper></clr-control-helper>
                            </clr-datalist-container>
                            <clr-control-error *ngIf="showFormError('devInstanceType')">
                                Selecting control plane node instance type is required
                            </clr-control-error>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="clr-col-lg-6 clr-col-12">
            <a class="card clickable" [ngClass]="{'card-selected': getEnvType()==='prod'}" (click)="cardClick('prod')" role="none">
                <div class="card-block">
                    <clr-icon class="card-icon" shape="building" size="72">
                    </clr-icon>
                    <p class="card-title" i18n="production control plane title">
                        Production
                    </p>
                    <p i18n="production description" class="card-text">
                        Three control plane nodes. Recommended for a production environment.
                    </p>
                </div>
                <div class="card-footer">
                    <div
                            class="clr-row"
                            [attr.data-step-metadata]="formName"
                            [attr.data-value]="prodInstanceTypeValue"
                            data-name="prodInstanceType"
                            data-label="prod instance type">
                        <div class="clr-col-lg-5 clr-col-12">
                            <label i18n="instance type label" data-full="Production instance type">
                                INSTANCE TYPE
                                <clr-tooltip>
                                    <clr-icon aria-live="assertive" a11yTooltipTrigger shape="info-circle" size="22"></clr-icon>
                                    <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
                                    <span>
                                        Choose the configuration for the control plane node VMs depending on
                                        the expected number of workload clusters to manage.
                                    </span>
                                    </clr-tooltip-content>
                                </clr-tooltip>
                            </label>
                        </div>
                        <div class="clr-col-lg-7 clr-col-12">
                            <clr-datalist-container>
                                <!-- Add a invisible label to avoid accessiblity issue -->
                                <label style="display: none;">prod instance type</label>
                                <input clrDatalistInput name="prodInstanceType" formControlName="prodInstanceType" role="listbox" aria-label="production instance type" autocomplete="off"/>
                                <datalist id="prodInstanceType">
                                    <option *ngFor="let nodeType of nodeTypes" [value]="nodeType"></option>
                                </datalist>
                                <!-- Add a empty helper to avoid accessiblity aira-describeby issue -->
                                <clr-control-helper></clr-control-helper>
                            </clr-datalist-container>
                            <clr-control-error *ngIf="showFormError('prodInstanceType')">
                                Selecting control plane node instance type is required
                            </clr-control-error>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="clr-row">
        <div class="clr-col-12 clr-col-sm-6 clr-col-lg-4">
            <clr-input-container [attr.data-step-metadata]="formName">
                <label i18n="cluster name label" clr-control-label>
                    {{ clusterType | uppercase }} CLUSTER NAME (OPTIONAL)
                    <clr-tooltip>
                        <clr-icon aria-live="assertive" a11yTooltipTrigger shape="info-circle" size="22"></clr-icon>
                        <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
                            <span>
                                Optionally specify a name for the {{ clusterType }} cluster. If left blank,
                                the installer names the cluster automatically.
                            </span>
                        </clr-tooltip-content>
                    </clr-tooltip>
                </label>
                <input clrInput formControlName="clusterName" placeholder="optional" maxlength="42"/>
                <!-- Add a empty helper to avoid accessiblity aira-describeby issue -->
                <clr-control-helper></clr-control-helper>
                <clr-control-error i18n="cluster name valid msg" *clrIfError="validatorEnum.VALID_CLUSTER_NAME">
                    {{ clusterType | titlecase }} Cluster Name must consist of lower case alphanumeric characters, '-' or '.', and must start
                    and end with an alphanumeric character.
                </clr-control-error>
                <clr-control-error i18n="cluster name valid msg" *clrIfError="validatorEnum.WHITESPACE">
                    {{ clusterType | titlecase }} Cluster Name must not include whitespace on ends.
                </clr-control-error>
            </clr-input-container>
        </div>

        <div class="clr-col-12 clr-col-sm-6 clr-col-lg-4" *ngIf="clusterType !== 'standalone'">
            <div
                    [attr.data-step-metadata]="formName"
                    [attr.data-value]="workerNodeInstanceTypeValue"
                    data-name="workerNodeInstanceType"
                    data-label="worker node instance type">
                <clr-datalist-container>
                    <label i18n="worker node instance type label" class="clr-col-12 clr-col-md-12">
                        WORKER NODE INSTANCE TYPE
                        <clr-tooltip>
                            <clr-icon aria-live="assertive" a11yTooltipTrigger shape="info-circle" size="22"></clr-icon>
                            <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
                            <span>
                                Choose the configuration for worker nodes.
                            </span>
                            </clr-tooltip-content>
                        </clr-tooltip>
                    </label>
                    <input clrDatalistInput name="workerNodeInstanceType" formControlName="workerNodeInstanceType" role="listbox" aria-label="worker node instance type" autocomplete="off"/>
                    <datalist id="workerNodeInstanceType">
                        <option *ngFor="let nodeType of nodeTypes" [value]="nodeType"></option>
                    </datalist>
                    <!-- Add a empty helper to avoid accessiblity aira-describeby issue -->
                    <clr-control-helper></clr-control-helper>
                </clr-datalist-container>
                <clr-control-error *ngIf="showFormError('workerNodeInstanceType')">
                    Selecting worker node instance type is required
                </clr-control-error>
            </div>
        </div>

        <div class="clr-col-12 clr-col-sm-6 clr-col-lg-4">
            <clr-input-container [attr.data-step-metadata]="formName">
                <label i18n="aws ssh key name label" clr-control-label>
                    SSH KEY NAME
                    <clr-tooltip>
                        <clr-icon aria-live="assertive" a11yTooltipTrigger shape="info-circle" size="22"></clr-icon>
                        <clr-tooltip-content clrPosition="top-left" clrSize="lg" *clrIfOpen>
                            <span>
                                The name of a 2048-bit SSH-2 RSA public key pair that you have already
                                imported to your AWS account.
                            </span>
                        </clr-tooltip-content>
                    </clr-tooltip>
                </label>
                <input clrInput formControlName="sshKeyName" placeholder="ssh key name" />
                <!-- Add a empty helper to avoid accessiblity aira-describeby issue -->
                <clr-control-helper></clr-control-helper>
                <clr-control-error i18n="AWS ssh key name required msg" *clrIfError="validatorEnum.REQUIRED">
                    SSH key name cannot be empty
                </clr-control-error>
            </clr-input-container>
        </div>

    </div>

    <div class="clr-row">

        <div class="clr-col-12 clr-col-sm-6 clr-col-lg-4">
            <clr-checkbox-container [attr.data-step-metadata]="formName">
                <label i18n="cluster enable machine health check" clr-control-label data-full="ENABLE MACHINE HEALTH CHECKS">
                    MACHINE HEALTH CHECKS
                    <clr-tooltip>
                        <clr-icon aria-live="assertive" a11yTooltipTrigger shape="info-circle" size="22"></clr-icon>
                        <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
                            <span>
                                Enable Machine Health Checks to provide node health monitoring on the clusters that you deploy with this {{ clusterType }} cluster.
                            </span>
                        </clr-tooltip-content>
                    </clr-tooltip>
                </label>
                <clr-checkbox-wrapper>
                    <input type="checkbox" clrCheckbox name="machineHealthChecksEnabled" formControlName="machineHealthChecksEnabled" role="checkbox" aria-label="Enable Machine Health Checks"/>
                    <label>Enable</label>
                </clr-checkbox-wrapper>
            </clr-checkbox-container>
        </div>


        <div class="clr-col-12 clr-col-sm-6 clr-col-lg-4">
            <clr-checkbox-container [attr.data-step-metadata]="formName">
                <label i18n="cluster BASTION HOST ENABLED" clr-control-label data-full="ENABLE BASTION HOST">
                    BASTION HOST
                    <clr-tooltip>
                        <clr-icon aria-live="assertive" a11yTooltipTrigger shape="info-circle" size="22"></clr-icon>
                        <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
                            <span>
                                Including bastion hosts in your VPC environment enables you to
                                securely connect to your Linux instances without exposing your
                                environment to the Internet.
                            </span>
                        </clr-tooltip-content>
                    </clr-tooltip>
                </label>
                <clr-checkbox-wrapper>
                    <input type="checkbox" clrCheckbox name="bastionHostEnabled" formControlName="bastionHostEnabled" role="checkbox" aria-label="Enable Bastion Host"/>
                    <label>Enable</label>
                </clr-checkbox-wrapper>
            </clr-checkbox-container>
        </div>
        <div class="clr-col-12 clr-col-sm-6 clr-col-lg-4">
            <app-audit-logging [formGroup]="formGroup" [formName]="formName"></app-audit-logging>
        </div>
    </div>

    <div class="clr-row">
        <div class="clr-col-12 clr-col-sm-6 clr-col-lg-4">
            <clr-checkbox-container [attr.data-step-metadata]="formName">
                <label i18n="cluster AWS CLOUDFORMATION STACK" clr-control-label data-full="AUTOMATE CREATION OF AWS CLOUDFORMATION STACK">
                    AWS CLOUDFORMATION STACK
                    <clr-tooltip>
                        <clr-icon aria-live="assertive" a11yTooltipTrigger shape="info-circle" size="22"></clr-icon>
                        <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
                            <span>
                                Including bastion hosts in your VPC environment enables you to
                                securely connect to your Linux instances without exposing your
                                environment to the Internet.
                            </span>
                        </clr-tooltip-content>
                    </clr-tooltip>
                </label>
                <clr-checkbox-wrapper>
                    <input type="checkbox" clrCheckbox name="createCloudFormation" formControlName="createCloudFormation" role="checkbox" aria-label="Create Cloud Formation"/>
                    <label clr-control-label data-full="CREATE CLOUDFORMATION STACK">
                        Automate creation of AWS CloudFormation Stack
                    </label>
                </clr-checkbox-wrapper>
            </clr-checkbox-container>
        </div>
    </div>

    <!-- AZ 1 -->
    <div class="clr-row">
        <div class="clr-col-12 clr-col-sm-6 clr-col-lg-4">
            <clr-select-container [attr.data-step-metadata]="formName">
                <label i18n="existing vpc label">
                    AVAILABILITY ZONE 1
                    <clr-tooltip>
                        <clr-icon aria-live="assertive" a11yTooltipTrigger shape="info-circle" size="22"></clr-icon>
                        <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
                            <span>
                                Select an AWS availability zone.
                            </span>
                        </clr-tooltip-content>
                    </clr-tooltip>
                </label>
                <select
                        clrSelect
                        name="awsNodeAz1"
                        formControlName="awsNodeAz1">
                    <option aria-label="blank" title="blank"></option>
                    <ng-container *ngFor="let nodeAz of nodeAzs">
                        <option [value]="nodeAz.name">
                            {{ nodeAz.name }}
                        </option>
                    </ng-container>
                </select>
                <!-- Add a empty helper to avoid accessiblity aira-describeby issue -->
                <clr-control-helper></clr-control-helper>
                <clr-control-error
                        i18n="availability zone required msg"
                        *clrIfError="validatorEnum.REQUIRED">
                    Selecting an availability zone is required
                </clr-control-error>
                <clr-control-error
                        i18n="availability zone unique msg"
                        *clrIfError="validatorEnum.AVAILABILITY_ZONE_UNIQUE">
                    Availability zone selection must be unique
                </clr-control-error>
            </clr-select-container>
        </div>
        <div class="clr-col-12 clr-col-sm-6 clr-col-lg-4" *ngIf="vpcType === 'existing'">
            <clr-select-container [attr.data-step-metadata]="formName">
                <label i18n="existing vpc label">
                    VPC PUBLIC SUBNET
                    <clr-tooltip>
                        <clr-icon aria-live="assertive" a11yTooltipTrigger shape="info-circle" size="22"></clr-icon>
                        <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
                            <span>
                                Choose a VPC public subnet associated with the selected AWS availability zone. If no
                                option is available, please add a public subnet to this availability zone.
                            </span>
                        </clr-tooltip-content>
                    </clr-tooltip>
                </label>
                <select
                        clrSelect
                        name="vpcPublicSubnet1"
                        formControlName="vpcPublicSubnet1">
                    <option aria-label="blank" title="blank"></option>
                    <ng-container *ngFor="let subnet of filteredAzs?.awsNodeAz1?.publicSubnets">
                        <option [value]="subnet.id">
                            {{ subnet.cidr }}
                        </option>
                    </ng-container>
                </select>
                <!-- Add a empty helper to avoid accessiblity aira-describeby issue -->
                <clr-control-helper></clr-control-helper>
                <clr-control-error>Selecting a VPC public subnet is required</clr-control-error>
            </clr-select-container>
        </div>
        <div class="clr-col-12 clr-col-sm-6 clr-col-lg-4" *ngIf="vpcType === 'existing'">
            <clr-select-container [attr.data-step-metadata]="formName">
                <label i18n="existing vpc label">
                    VPC PRIVATE SUBNET
                    <clr-tooltip>
                        <clr-icon aria-live="assertive" a11yTooltipTrigger shape="info-circle" size="22"></clr-icon>
                        <clr-tooltip-content clrPosition="top-left" clrSize="lg" *clrIfOpen>
                            <span>
                                Choose a VPC private subnet associated with the selected AWS availability zone. If no
                                option is available, please add a private subnet to this availability zone.
                            </span>
                        </clr-tooltip-content>
                    </clr-tooltip>
                </label>
                <select
                        clrSelect
                        name="vpcPrivateSubnet1"
                        formControlName="vpcPrivateSubnet1">
                    <option aria-label="blank" title="blank"></option>
                    <ng-container *ngFor="let subnet of filteredAzs?.awsNodeAz1?.privateSubnets">
                        <option [value]="subnet.id">
                            {{ subnet.cidr }}
                        </option>
                    </ng-container>
                </select>
                <!-- Add a empty helper to avoid accessiblity aira-describeby issue -->
                <clr-control-helper></clr-control-helper>
                <clr-control-error>Selecting a VPC private subnet is required</clr-control-error>
            </clr-select-container>
        </div>
    </div>

    <!-- AZ 2 -->
    <div class="clr-row" *ngIf="nodeType === 'prod'">
        <div class="clr-col-12 clr-col-sm-6 clr-col-lg-4">
            <clr-select-container [attr.data-step-metadata]="formName">
                <label i18n="existing vpc label">
                    AVAILABILITY ZONE 2
                    <clr-tooltip>
                        <clr-icon aria-live="assertive" a11yTooltipTrigger shape="info-circle" size="22"></clr-icon>
                        <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
                            <span>
                                Select an AWS availability zone.
                            </span>
                        </clr-tooltip-content>
                    </clr-tooltip>
                </label>
                <select
                        clrSelect
                        name="awsNodeAz2"
                        formControlName="awsNodeAz2">
                    <option aria-label="blank" title="blank"></option>
                    <ng-container *ngFor="let nodeAz of nodeAzs">
                        <option [value]="nodeAz.name">
                            {{ nodeAz.name }}
                        </option>
                    </ng-container>
                </select>
                <!-- Add a empty helper to avoid accessiblity aira-describeby issue -->
                <clr-control-helper></clr-control-helper>
                <clr-control-error
                        i18n="availability zone required msg"
                        *clrIfError="validatorEnum.REQUIRED">
                    Selecting an availability zone is required
                </clr-control-error>
                <clr-control-error
                        i18n="availability zone unique msg"
                        *clrIfError="validatorEnum.AVAILABILITY_ZONE_UNIQUE">
                    Availability zone selection must be unique
                </clr-control-error>
            </clr-select-container>
        </div>
        <div class="clr-col-12 clr-col-sm-6 clr-col-lg-4" *ngIf="vpcType === 'existing'">
            <clr-select-container [attr.data-step-metadata]="formName">
                <label i18n="existing vpc label">
                    VPC PUBLIC SUBNET
                    <clr-tooltip>
                        <clr-icon aria-live="assertive" a11yTooltipTrigger shape="info-circle" size="22"></clr-icon>
                        <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
                            <span>
                                Choose a VPC public subnet associated with the selected AWS availability zone. If no
                                option is available, please add a public subnet to this availability zone.
                            </span>
                        </clr-tooltip-content>
                    </clr-tooltip>
                </label>
                <select
                        clrSelect
                        name="vpcPublicSubnet2"
                        formControlName="vpcPublicSubnet2">
                    <option aria-label="blank" title="blank"></option>
                    <ng-container *ngFor="let subnet of filteredAzs?.awsNodeAz2?.publicSubnets">
                        <option [value]="subnet.id">
                            {{ subnet.cidr }}
                        </option>
                    </ng-container>
                </select>
                <!-- Add a empty helper to avoid accessiblity aira-describeby issue -->
                <clr-control-helper></clr-control-helper>
                <clr-control-error>Selecting a VPC public subnet is required</clr-control-error>
            </clr-select-container>
        </div>
        <div class="clr-col-12 clr-col-sm-6 clr-col-lg-4" *ngIf="vpcType === 'existing'">
            <clr-select-container [attr.data-step-metadata]="formName">
                <label i18n="existing vpc label">
                    VPC PRIVATE SUBNET
                    <clr-tooltip>
                        <clr-icon aria-live="assertive" a11yTooltipTrigger shape="info-circle" size="22"></clr-icon>
                        <clr-tooltip-content clrPosition="top-left" clrSize="lg" *clrIfOpen>
                            <span>
                                Choose a VPC private subnet associated with the selected AWS availability zone. If no
                                option is available, please add a private subnet to this availability zone.
                            </span>
                        </clr-tooltip-content>
                    </clr-tooltip>
                </label>
                <select
                        clrSelect
                        name="vpcPrivateSubnet2"
                        formControlName="vpcPrivateSubnet2">
                    <option aria-label="blank" title="blank"></option>
                    <ng-container *ngFor="let subnet of filteredAzs?.awsNodeAz2?.privateSubnets">
                        <option [value]="subnet.id">
                            {{ subnet.cidr }}
                        </option>
                    </ng-container>
                </select>
                <!-- Add a empty helper to avoid accessiblity aira-describeby issue -->
                <clr-control-helper></clr-control-helper>
                <clr-control-error>Selecting a VPC private subnet is required</clr-control-error>
            </clr-select-container>
        </div>
    </div>

    <!-- AZ 3 -->
    <div class="clr-row" *ngIf="nodeType === 'prod'">
        <div class="clr-col-12 clr-col-sm-6 clr-col-lg-4">
            <clr-select-container [attr.data-step-metadata]="formName">
                <label i18n="existing vpc label">
                    AVAILABILITY ZONE 3
                    <clr-tooltip>
                        <clr-icon aria-live="assertive" a11yTooltipTrigger shape="info-circle" size="22"></clr-icon>
                        <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
                            <span>
                                Select an AWS availability zone.
                            </span>
                        </clr-tooltip-content>
                    </clr-tooltip>
                </label>
                <select
                        clrSelect
                        name="awsNodeAz3"
                        formControlName="awsNodeAz3">
                    <option aria-label="blank" title="blank"></option>
                    <ng-container *ngFor="let nodeAz of nodeAzs">
                        <option [value]="nodeAz.name">
                            {{ nodeAz.name }}
                        </option>
                    </ng-container>
                </select>
                <!-- Add a empty helper to avoid accessiblity aira-describeby issue -->
                <clr-control-helper></clr-control-helper>
                <clr-control-error
                        i18n="availability zone required msg"
                        *clrIfError="validatorEnum.REQUIRED">
                    Selecting an availability zone is required
                </clr-control-error>
                <clr-control-error
                        i18n="availability zone unique msg"
                        *clrIfError="validatorEnum.AVAILABILITY_ZONE_UNIQUE">
                    Availability zone selection must be unique
                </clr-control-error>
            </clr-select-container>
        </div>
        <div class="clr-col-12 clr-col-sm-6 clr-col-lg-4" *ngIf="vpcType === 'existing'">
            <clr-select-container [attr.data-step-metadata]="formName">
                <label i18n="existing vpc label">
                    VPC PUBLIC SUBNET
                    <clr-tooltip>
                        <clr-icon aria-live="assertive" a11yTooltipTrigger shape="info-circle" size="22"></clr-icon>
                        <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
                            <span>
                                Choose a VPC public subnet associated with the selected AWS availability zone. If no
                                option is available, please add a public subnet to this availability zone.
                            </span>
                        </clr-tooltip-content>
                    </clr-tooltip>
                </label>
                <select
                        clrSelect
                        name="vpcPublicSubnet3"
                        formControlName="vpcPublicSubnet3">
                    <option aria-label="blank" title="blank"></option>
                    <ng-container *ngFor="let subnet of filteredAzs?.awsNodeAz3?.publicSubnets">
                        <option [value]="subnet.id">
                            {{ subnet.cidr }}
                        </option>
                    </ng-container>
                </select>
                <!-- Add a empty helper to avoid accessiblity aira-describeby issue -->
                <clr-control-helper></clr-control-helper>
                <clr-control-error>Selecting a VPC public subnet is required</clr-control-error>
            </clr-select-container>
        </div>
        <div class="clr-col-12 clr-col-sm-6 clr-col-lg-4" *ngIf="vpcType === 'existing'">
            <clr-select-container [attr.data-step-metadata]="formName">
                <label i18n="existing vpc label">
                    VPC PRIVATE SUBNET
                    <clr-tooltip>
                        <clr-icon aria-live="assertive" a11yTooltipTrigger shape="info-circle" size="22"></clr-icon>
                        <clr-tooltip-content clrPosition="top-left" clrSize="lg" *clrIfOpen>
                            <span>
                                Choose a VPC private subnet associated with the selected AWS availability zone. If no
                                option is available, please add a private subnet to this availability zone.
                            </span>
                        </clr-tooltip-content>
                    </clr-tooltip>
                </label>
                <select
                        clrSelect
                        name="vpcPrivateSubnet3"
                        formControlName="vpcPrivateSubnet3">
                    <option aria-label="blank" title="blank"></option>
                    <ng-container *ngFor="let subnet of filteredAzs?.awsNodeAz3?.privateSubnets">
                        <option [value]="subnet.id">
                            {{ subnet.cidr }}
                        </option>
                    </ng-container>
                </select>
                <!-- Add a empty helper to avoid accessiblity aira-describeby issue -->
                <clr-control-helper></clr-control-helper>
                <clr-control-error>Selecting a VPC private subnet is required</clr-control-error>
            </clr-select-container>
        </div>
    </div>
</form>
