<form [formGroup]="formGroup">
    <div class="clr-row">
        <div class="clr-col-12 clr-col-sm-6 clr-col-lg-4">
            <clr-input-container [attr.data-step-metadata]="formName">
                <label i18n="cluster name label" clr-control-label>
                    {{ clusterTypeDescriptor | uppercase }} CLUSTER NAME {{edition === 'tkg' ? '(OPTIONAL)' : ''}}
                    <clr-tooltip>
                        <clr-icon aria-live="assertive" a11yTooltipTrigger shape="info-circle" size="22"></clr-icon>
                        <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
                            <span>
                                {{  edition === 'tkg'?
                                    'Optionally specify a name for the ' + clusterTypeDescriptor + ' cluster. If left blank,' +
                                    'the installer names the cluster automatically.' :
                                    'Specify a name for the ' + clusterTypeDescriptor + ' cluster.'
                                }}
                            </span>
                        </clr-tooltip-content>
                    </clr-tooltip>
                </label>
                <input clrInput formControlName="clusterName" placeholder="" maxlength="42"/>
                <!-- Add a empty helper to avoid accessibility aria-describeby issue -->
                <clr-control-helper></clr-control-helper>
                <clr-control-error *clrIfError="validatorEnum.REQUIRED">
                    {{ clusterTypeDescriptorTitleCase }} Cluster name is required.
                </clr-control-error>
                <clr-control-error *clrIfError="validatorEnum.VALID_CLUSTER_NAME">
                    {{ clusterTypeDescriptorTitleCase }} Cluster name must start and end with a letter or number, and can contain only
                    lowercase letters, numbers, and hyphens.
                </clr-control-error>
                <clr-control-error *clrIfError="validatorEnum.WHITESPACE">
                    {{ clusterTypeDescriptorTitleCase }} Cluster Name must not include whitespace on ends.
                </clr-control-error>
            </clr-input-container>
        </div>
    </div>
</form>
