#@ load("@ytt:data", "data")

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: tanzu-infra-clusterclass-package-sa
  namespace: #@ data.values.namespaceForPackageInstallation
  annotations:
    kapp.k14s.io/change-group: "tkg-infra-clusterclass-packageinstall/serviceaccount-0"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: tanzu-infra-clusterclass-package-cluster-role
  annotations:
    kapp.k14s.io/change-group: "tkg-infra-clusterclass-packageinstall/serviceaccount-0"
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
      - configmaps
      - serviceaccounts
      - services
    verbs:
      - create
      - update
      - get
      - list
      - delete
      - watch
  - apiGroups:
    - run.tanzu.vmware.com
    resources:
    - tanzukubernetesreleases
    - osimages
    verbs:
    - create
    - delete
    - get
    - list
    - patch
    - update
    - watch
  - apiGroups:
    - run.tanzu.vmware.com
    resources:
    - tanzukubernetesreleases/status
    - osimages/status
    verbs:
    - get
    - patch
    - update
  - apiGroups:
    - cluster.x-k8s.io
    resources:
    - clusters
    - clusters/status
    verbs:
    - get
    - list
    - watch
    - create
    - update
    - patch
  - apiGroups:
      - cluster.x-k8s.io
    resources:
      - clusterclasses
    verbs:
      - create
      - update
      - get
      - list
      - delete
      - watch
  - apiGroups:
      - bootstrap.cluster.x-k8s.io
    resources:
      - kubeadmconfigtemplates
    verbs:
      - create
      - update
      - get
      - list
      - delete
  - apiGroups:
      - infrastructure.cluster.x-k8s.io
    resources:
      - awsmachinetemplates
      - awsclustertemplates
      - vspheremachinetemplates
      - vsphereclustertemplates
      - azuremachinetemplates
      - azureclustertemplates
      - dockermachinetemplates
      - dockerclustertemplates
      - ocimachinetemplates
      - ociclustertemplates
    verbs:
      - create
      - update
      - get
      - list
      - delete
  - apiGroups:
      - controlplane.cluster.x-k8s.io
    resources:
      - kubeadmcontrolplanetemplates
    verbs:
      - create
      - update
      - get
      - list
      - delete
  - apiGroups:
      - packaging.carvel.dev
    resources:
      - packageinstalls
    verbs:
      - create
      - update
      - get
      - list
      - delete
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - clusterroles
      - clusterrolebindings
    verbs:
      - create
      - update
      - get
      - list
      - delete
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - create
      - update
      - get
      - list
      - delete
  - apiGroups:
      - cert-manager.io
    resources:
      - issuers
      - certificates
    verbs:
      - create
      - update
      - get
      - list
      - delete
  - apiGroups:
    - coordination.k8s.io
    resources:
    - leases
    verbs:
    - create
    - get
    - update
  - apiGroups:
      - admissionregistration.k8s.io
    resources:
      - mutatingwebhookconfigurations
    verbs:
      - create
      - update
      - get
      - list
      - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: tanzu-infra-clusterclass-package-cluster-rolebinding
  annotations:
    kapp.k14s.io/change-group: "tkg-infra-clusterclass-packageinstall/serviceaccount"
    kapp.k14s.io/change-rule.0: "upsert after upserting tkg-infra-clusterclass-packageinstall/serviceaccount-0"
    kapp.k14s.io/change-rule.1: "delete before deleting tkg-infra-clusterclass-packageinstall/serviceaccount-0"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: tanzu-infra-clusterclass-package-cluster-role
subjects:
  - kind: ServiceAccount
    name: tanzu-infra-clusterclass-package-sa
    namespace: #@ data.values.namespaceForPackageInstallation
