#@ load("@ytt:overlay", "overlay")
#@ load("@ytt:data", "data")
#@ load("@ytt:yaml", "yaml")

#@overlay/match by=overlay.subset({"kind":"Deployment","metadata":{"name": "kapp-controller"}})
---
spec:
  template:
    #@overlay/match-child-defaults missing_ok=True
    spec:
      containers:
      #@overlay/match by=overlay.subset({"name":"kapp-controller"})
      - image: #@ "{}/{}:{}".format(data.values.kappController.image.repository, data.values.kappController.image.path, data.values.kappController.image.tag)
        imagePullPolicy: #@ data.values.kappController.image.pullPolicy
      #@ if/end data.values.kappController.deployment.hostNetwork:
      hostNetwork: #@ data.values.kappController.deployment.hostNetwork
      #@ if/end data.values.kappController.deployment.priorityClassName:
      priorityClassName: #@ data.values.kappController.deployment.priorityClassName
      #@ if hasattr(data.values.kappController.deployment, 'tolerations') and data.values.kappController.deployment.tolerations:
      tolerations: #@ data.values.kappController.deployment.tolerations
      #@ end
