---
apiVersion: v1
kind: Service
metadata:
  name: tkr-resolver-cluster-webhook-service
  namespace: tanzu-system
spec:
  ports:
  - port: 443
    targetPort: 9443
  selector:
    app: tkr-resolver-cluster-webhook