<div [ngClass]="{'hide': review}">
    <div class="clr-row mb-20">
        <div class="clr-col-12">
            <clr-icon shape="arrow" dir="left" size="30" class="is-info back-link"
                role="button"
                tabindex="0"
                aria-label="back"
                (click)="navigate(APP_ROUTES.LANDING)"
                keyboardListener
            ></clr-icon>
            <h2 i18n="wizard title" id="azure-title" aria-level="1">
                <div class="ms-azure-icon-30 offset-top-4"></div>
                Deploy {{ clusterTypeDescriptor | titlecase }} Cluster on Azure
            </h2>
            <ng-container *featureToggle="'management-cluster.import'">
                <input type="file" class="file-input"
                       (change)="onImportFileSelected($event)" #fileUpload>
                <button class="btn btn-outline import-btn" (click)="onImportButtonClick() && fileUpload.click()"
                        i18n="import configuration button">
                    Import Configuration
                </button>
            </ng-container>
        </div>
    </div>
    <app-shared-delete-data-popup></app-shared-delete-data-popup>
    <form clrStepper #wizard [formGroup]="form">
        <clr-stepper-panel formGroupName="{{ AzureProviderForm.name }}" removeAriaLabelledBy>
            <clr-step-title i18n="{{ AzureProviderForm.i18n.title }}">{{ AzureProviderForm.title }}</clr-step-title>
            <clr-step-description i18n="{{ AzureProviderForm.i18n.description }}">{{ AzureProviderForm.description }}</clr-step-description>
            <ng-container *ngIf="steps[0]">
                <app-azure-provider-step [formGroup]="form.controls[AzureProviderForm.name]" formName="{{ AzureProviderForm.name }}">
                </app-azure-provider-step>
            </ng-container>
            <clr-step-content *clrIfExpanded>
                <app-step-controller (nextStep)="onNextStep()"></app-step-controller>
            </clr-step-content>
        </clr-stepper-panel>

        <clr-stepper-panel formGroupName="{{AzureVnetForm.name}}" removeAriaLabelledBy>
            <clr-step-title i18n="{{AzureVnetForm.i18n.title}}">{{AzureVnetForm.title}}</clr-step-title>
            <clr-step-description i18n="{{AzureVnetForm.i18n.description}}">{{AzureVnetForm.description}}</clr-step-description>
            <ng-container *ngIf="steps[1]">
                <app-vnet-step [formGroup]="form.controls[AzureVnetForm.name]" formName="{{AzureVnetForm.name}}">
                </app-vnet-step>
            </ng-container>
            <clr-step-content *clrIfExpanded>
                <app-step-controller (nextStep)="onNextStep()"></app-step-controller>
            </clr-step-content>
        </clr-stepper-panel>

        <clr-stepper-panel formGroupName="{{AzureNodeSettingForm.name}}" removeAriaLabelledBy>
            <clr-step-title i18n="{{AzureNodeSettingForm.i18n.title}}">{{AzureNodeSettingForm.title}}</clr-step-title>
            <clr-step-description i18n="{{AzureNodeSettingForm.i18n.description}}">{{AzureNodeSettingForm.description}}</clr-step-description>
            <ng-container *ngIf="steps[2]">
                <app-node-setting-step [formGroup]="form.controls[AzureNodeSettingForm.name]" formName="{{AzureNodeSettingForm.name}}">
                </app-node-setting-step>
            </ng-container>
            <clr-step-content *clrIfExpanded>
                <app-step-controller (nextStep)="onNextStep()"></app-step-controller>
            </clr-step-content>
        </clr-stepper-panel>

        <clr-stepper-panel formGroupName="{{ MetadataForm.name }}" removeAriaLabelledBy>
            <clr-step-title i18n="{{MetadataForm.i18n.title}}"> {{ MetadataForm.title }} </clr-step-title>
            <clr-step-description i18n="{{MetadataForm.i18n.description}}"> {{ MetadataForm.description }}
            </clr-step-description>
            <ng-container *ngIf="steps[3]">
                <app-metadata-step [formGroup]="form.controls[MetadataForm.name]" formName="{{ MetadataForm.name }}"></app-metadata-step>
            </ng-container>
            <clr-step-content *clrIfExpanded>
                <app-step-controller (nextStep)="onNextStep()"></app-step-controller>
            </clr-step-content>
        </clr-stepper-panel>

        <clr-stepper-panel formGroupName="{{ NetworkForm.name }}" removeAriaLabelledBy>
            <clr-step-title i18n="{{NetworkForm.i18n.title}}">{{ NetworkForm.title }}</clr-step-title>
            <clr-step-description i18n="{{NetworkForm.i18n.description}}">{{ NetworkForm.description }}</clr-step-description>
            <ng-container *ngIf="steps[4]">
                <app-shared-network-step [formGroup]="form.controls[NetworkForm.name]" formName="{{ NetworkForm.name }}">
                </app-shared-network-step>
            </ng-container>
            <clr-step-content *clrIfExpanded>
                <app-step-controller (nextStep)="onNextStep()"></app-step-controller>
            </clr-step-content>
        </clr-stepper-panel>

        <clr-stepper-panel formGroupName="{{ IdentityForm.name }}" removeAriaLabelledBy>
            <clr-step-title i18n="{{IdentityForm.i18n.title}}">{{ IdentityForm.title }}</clr-step-title>
            <clr-step-description i18n="{{IdentityForm.i18n.description}}">{{ IdentityForm.description }}</clr-step-description>
            <ng-container *ngIf="steps[5]">
                <app-shared-identity-step
                        [formGroup]="form.controls[IdentityForm.name]"
                        formName="{{ IdentityForm.name }}}">
                </app-shared-identity-step>
            </ng-container>
            <clr-step-content *clrIfExpanded>
                <app-step-controller (nextStep)="onNextStep()"></app-step-controller>
            </clr-step-content>
        </clr-stepper-panel>

        <clr-stepper-panel formGroupName="{{ OsImageForm }}">
            <clr-step-title i18n="{{OsImageForm.i18n.title}}">{{ OsImageForm.title }}</clr-step-title>
            <clr-step-description i18n="{{OsImageForm.i18n.description}}">{{ OsImageForm.description }}</clr-step-description>
            <ng-container *ngIf="steps[6]">
                <app-os-image-step [formGroup]="form.controls[OsImageForm.name]"
                    formName="{{ OsImageForm.name }}" [wizardFormService]="wizardFormService" type="AZURE"
                    osImageTooltipContent="Select a base OS image that you have already imported
                    into your Azure account. If no compatible OS image is present, import one into
                    Azure and click the Refresh button">
                </app-os-image-step>
            </ng-container>
            <clr-step-content *clrIfExpanded>
                <app-step-controller (nextStep)="onNextStep()"></app-step-controller>
            </clr-step-content>
        </clr-stepper-panel>

        <clr-stepper-panel formGroupName="{{ CeipForm.name }}" removeAriaLabelledBy *ngIf="edition === 'tkg'">
            <clr-step-title i18n="{{CeipForm.i18n.title}}">{{CeipForm.title}}</clr-step-title>
            <clr-step-description i18n="{{CeipForm.i18n.description}}">{{ CeipForm.description }}</clr-step-description>
            <ng-container *ngIf="steps[7]">
                <app-shared-ceip-step [formGroup]="form.controls[CeipForm.name]" formName="{{CeipForm.name}}">
                </app-shared-ceip-step>
            </ng-container>
            <clr-step-content *clrIfExpanded>
                <app-step-controller (nextStep)="onNextStep()"></app-step-controller>
            </clr-step-content>
        </clr-stepper-panel>

    </form>
    <button class="btn btn-primary mt-20" [disabled]="!getWizardValidity()" (click)="reviewConfiguration(true)">
        REVIEW CONFIGURATION
    </button>
</div>

<ng-container *ngIf="review">
    <tkg-kickstart-ui-confirm></tkg-kickstart-ui-confirm>
    <app-error-notification [errorNotification]="errorNotification"></app-error-notification>
    <div class="clr-row mt-20">
        <div class="clr-col-12 btn-container">
            <button class="btn btn-primary deploy-btn" [disabled]="disableDeployButton" (click)="deploy()">
                Deploy {{ clusterTypeDescriptor | titlecase }} Cluster
            </button>
            <button class="btn btn-outline edit-btn" (click)="reviewConfiguration(false)"
                i18n="return to wizard for edit button">
                Edit Configuration
            </button>
            <ng-container *featureToggle="'management-cluster.export-from-confirm'">
                <button class="btn btn-link export-btn" (click)="exportConfiguration()"
                        i18n="export configuration button">
                    Export Configuration
                </button>
            </ng-container>
        </div>
    </div>
</ng-container>
