<div *ngIf="successImportFile" class="alert alert-success" role="alert">
    <div class="alert-items">
        <div class="alert-item static">
            <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
            </div>
            <span class="alert-text" i18n="connect vcenter success notification">
          {{ successImportFile }}
      </span>
        </div>
    </div>
    <button (click)="successImportFile=null" type="button" class="close" aria-label="Close">
        <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
</div>
