.label-container {
    margin-left: 0;
}

.btn-label {
    margin-left: 1rem;
}

.btn-delete {
    border: none;
}

.label-input {
    margin-top: .1rem;
    margin-bottom: 24px;
}

.clr-textarea {
    width: 500px;
    height: 120px;
}

.err-label {
    max-width: 175px;
}