---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: awsebscsiconfigs.csi.tanzu.vmware.com
spec:
  group: csi.tanzu.vmware.com
  names:
    kind: AwsEbsCSIConfig
    listKind: AwsEbsCSIConfigList
    plural: awsebscsiconfigs
    singular: awsebscsiconfig
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: AwsEbsCSIConfig is the Schema for the awsebscsiconfigs API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: AwsEbsCSIConfigSpec defines the desired state of AwsEbsCSIConfig
            properties:
              awsEBSCSIDriver:
                description: AwsEbsCSI is the Schema for the awsebscsiconfigs API
                properties:
                  deploymentReplicas:
                    format: int32
                    type: integer
                  httpProxy:
                    type: string
                  httpsProxy:
                    type: string
                  namespace:
                    description: The namespace csi components are to be deployed in
                    type: string
                  noProxy:
                    type: string
                type: object
            required:
            - awsEBSCSIDriver
            type: object
          status:
            description: AwsEbsCSIConfigStatus defines the observed state of AwsEbsCSIConfig
            properties:
              secretRef:
                description: Name of the secret created by csi controller
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
