<div class="clr-row">
    <div class="clr-col-12">
        <table class="table">
            <thead>
                <tr>
                    <th class="left">CLI Command Equivalent</th>
                    <th class="left"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="left code">{{ cli }}</td>
                    <td class="left">
                        <app-copy-to-clipboard-button [btnLabel]="'Copy'"
                            [tooltip]="'Click here to copy the CLI to clipboard'" [value]="cli"
                            [btnClasses]="['btn-outline', 'btn-sm']">
                        </app-copy-to-clipboard-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>