.theme-select {
    display: block;
    font-size: .6rem;
    font-weight: 500;
    letter-spacing: .073em;
    text-decoration: none;
    color: #0072a3;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    left: 24px;

    &:hover {
        color: #00567a;
    }

    clr-icon {
        position: unset;
        transform: none;
        margin-bottom: 2px;
    }

    &.dark {
        color: #4aaed9;

        &:hover {
            color: #57c8ea
        }
    }

    //&:hover {
    //    color: #ffffff;
    //    clr-icon svg g g path {
    //        fill: #ffffff;
    //    }
    //}
}


