.label-details {
  align-items: baseline;
  padding-left: 0.6rem;
}

.btn-delete {
  border: none;
}

.btn-add {
  margin-top: 1rem;
}

.label-container {
  margin-left: 0;
}

.err-label {
  max-width: 8.7rem;
}
