<div [formGroup]="config?.forms?.parent" class="clr-row">
    <div class="clr-col-12">
        <clr-input-container>
            <label clr-control-label i18n="labels label">
                {{ config?.label?.title }}
                <clr-tooltip>
                    <clr-icon a11yTooltipTrigger aria-live="assertive" shape="info-circle" size="22"></clr-icon>
                    <clr-tooltip-content *clrIfOpen clrPosition="top-right" clrSize="lg">
                        <span>{{ config?.label?.tooltipText }}</span>
                    </clr-tooltip-content>
                </clr-tooltip>
            </label>
        </clr-input-container>
        <span *ngIf="config?.label?.helperText"> {{ config.label.helperText }}</span>
    </div>

    <div
            *ngFor="let labelFormGroup of labelsFormArray?.controls; let i = index"
            class="clr-col-12"
            formArrayName="clusterLabels">
        <div [formGroupName]="i" class="clr-row label-details">
            <clr-input-container>
                <input aria-label="label key" clrInput formControlName="key" placeholder="key"/>
                <!-- Add a empty helper to avoid accessibility aria-describeby issue -->
                <clr-control-helper></clr-control-helper>
                <clr-control-error
                        *clrIfError="validatorEnum.VALID_CLUSTER_NAME"
                        class="err-label"
                        i18n="cluster label valid msg">
                    {{ config?.fields?.clusterTypeDescriptor }} Cluster label keys must start and end with an
                    alphanumeric
                    character, and can contain only letters, numbers, hyphens, underscores, and dots.
                </clr-control-error>
                <clr-control-error *clrIfError="validatorEnum.WHITESPACE" class="err-label"
                                   i18n="cluster label valid msg">
                    {{ config?.fields?.clusterTypeDescriptor }} Cluster label keys must not include whitespace on ends.
                </clr-control-error>
                <clr-control-error *clrIfError="validatorEnum.MAX_LEN" class="err-label" i18n="cluster label valid msg">
                    {{ config?.fields?.clusterTypeDescriptor }} Cluster label keys max length is 63 characters.
                </clr-control-error>
                <clr-control-error *clrIfError="validatorEnum.UNIQUE" class="err-label" i18n="cluster label valid msg">
                    A Label with the same key already exists.
                </clr-control-error>
                <clr-control-error *clrIfError="validatorEnum.REQUIRED" class="err-label"
                                   i18n="cluster label valid msg">
                    {{ config?.fields?.clusterTypeDescriptor }} Cluster label value is required if its value is not
                    empty.
                </clr-control-error>
            </clr-input-container>

            <span class="label-input">:</span>
            <clr-input-container>
                <input aria-label="label value" clrInput formControlName="value" placeholder="value"/>
                <!-- Add a empty helper to avoid accessibility aria-describeby issue -->
                <clr-control-helper></clr-control-helper>
                <clr-control-error
                        *clrIfError="validatorEnum.VALID_CLUSTER_NAME"
                        class="err-label"
                        i18n="cluster label valid msg">
                    {{ config?.fields?.clusterTypeDescriptor }} Cluster label values must start and end with an
                    alphanumeric
                    character, and can contain only letters, numbers, hyphens, underscores, and dots.
                </clr-control-error>
                <clr-control-error *clrIfError="validatorEnum.WHITESPACE" class="err-label"
                                   i18n="cluster label valid msg">
                    {{ config?.fields?.clusterTypeDescriptor }} Cluster label values must not include whitespace on
                    ends.
                </clr-control-error>
                <clr-control-error *clrIfError="validatorEnum.MAX_LEN" class="err-label" i18n="cluster label valid msg">
                    {{ config?.fields?.clusterTypeDescriptor }} Cluster label values max length is 63 characters.
                </clr-control-error>
                <clr-control-error *clrIfError="validatorEnum.REQUIRED" class="err-label"
                                   i18n="cluster label valid msg">
                    {{ config?.fields?.clusterTypeDescriptor }} Cluster label value is required if its key is not empty.
                </clr-control-error>
            </clr-input-container>

            <button
                    (click)="deleteLabel(i)"
                    *ngIf="labelsFormArray.length > 1"
                    aria-label="delete label"
                    class="btn btn-icon btn-delete"
                    id="label-delete-{{ i }}"
                    role="button">
                <clr-icon shape="trash" size="18"></clr-icon>
            </button>
        </div>
    </div>

    <div class="clr-col-12">
        <button (click)="addNewLabel()" aria-label="add label" class="btn btn-sm btn-label btn-add" role="button">
            ADD
        </button>
    </div>
</div>
