<div class="description-wrapper">
    Two cluster classes will be created for this management cluster.
    These can be used in the deployment of workload clusters. When creating a workload cluster, 
    some values must be supplied by the user. Others are defaulted by the cluster class but 
    can be overridden or baked into the cluster class and can not be overridden.
    For contextual help on cluster classes click here
</div>
<clr-stack-view>
    <clr-stack-block  clrSbExpanded="true" *ngFor="let clusterClass of clusterClasses">
        <clr-stack-label> {{clusterClass.name}} </clr-stack-label>
        <clr-stack-block clrSbExpanded="true" *ngFor="let category of clusterClass.categories">
            <clr-stack-label>{{category.name}}</clr-stack-label>
            <clr-stack-block *ngFor="let variable of category.variables">
                <clr-stack-label> {{variable.name}} </clr-stack-label>
                <clr-stack-content> {{variable.description}} </clr-stack-content>
            </clr-stack-block>
        </clr-stack-block>
    </clr-stack-block>
</clr-stack-view>
