<div [ngClass]="{'hide': review}">
    <div class="clr-row mb-20">
        <div class="clr-col-12">
            <clr-icon
                shape="arrow"
                dir="left"
                size="30"
                class="is-info back-link"
                role="button"
                tabindex="0"
                aria-label="back"
                (click)="navigate(APP_ROUTES.LANDING)"></clr-icon>
            <h2 i18n="wizard title" aria-level="1">
                <div class="aws-ec2-icon-30"></div>
                Deploy Management Cluster on Amazon EC2
            </h2>
        </div>
    </div>
    <app-shared-delete-data-popup></app-shared-delete-data-popup>
    <form clrStepper #wizard [formGroup]="form">
        <clr-stepper-panel formGroupName="awsProviderForm" removeAriaLabelledBy>
            <clr-step-title i18n="IaaS provder step name">
                IaaS Provider
            </clr-step-title>
            <clr-step-description i18n="IaaS provder step description">
                Validate the AWS provider credentials for {{ title }}
            </clr-step-description>
            <ng-container *ngIf="steps[0]">
                <app-aws-provider-step [formGroup]="form.controls.awsProviderForm" formName="awsProvider">
                </app-aws-provider-step>
            </ng-container>
            <clr-step-content *clrIfExpanded>
                <app-step-controller (nextStep)="onNextStep()"></app-step-controller>
            </clr-step-content>
        </clr-stepper-panel>

        <clr-stepper-panel formGroupName="vpcForm" removeAriaLabelledBy>
            <clr-step-title i18n="vpc step name">
                VPC for AWS
            </clr-step-title>
            <clr-step-description i18n="vpc step description">
                {{ getStepDescription('vpc') }}
            </clr-step-description>
            <ng-container *ngIf="steps[1]">
                <app-vpc-step [formGroup]="form.controls.vpcForm" formName="vpc">
                </app-vpc-step>
            </ng-container>
            <clr-step-content *clrIfExpanded>
                <app-step-controller (nextStep)="onNextStep()"></app-step-controller>
            </clr-step-content>
        </clr-stepper-panel>

        <clr-stepper-panel formGroupName="awsNodeSettingForm" removeAriaLabelledBy>
            <clr-step-title i18n="node setting step name">
                Management Cluster Settings
            </clr-step-title>
            <clr-step-description i18n="node setting step description">
                {{ getStepDescription('nodeSetting') }}
            </clr-step-description>
            <ng-container *ngIf="steps[2]">
                <app-node-setting-step [formGroup]="form.controls.awsNodeSettingForm" formName="awsNodeSettings">
                </app-node-setting-step>
            </ng-container>
            <clr-step-content *clrIfExpanded>
                <app-step-controller (nextStep)="onNextStep()"></app-step-controller>
            </clr-step-content>
        </clr-stepper-panel>

        <clr-stepper-panel formGroupName="metadataForm" removeAriaLabelledBy>
            <clr-step-title i18n="metadata step name">
                Metadata
            </clr-step-title>
            <clr-step-description i18n="metadata step description">
                {{ getStepDescription('metadata') }}
            </clr-step-description>
            <ng-container *ngIf="steps[3]">
                <app-metadata-step [formGroup]="form.controls.metadataForm" formName="metadata">
                </app-metadata-step>
            </ng-container>
            <clr-step-content *clrIfExpanded>
                <app-step-controller (nextStep)="onNextStep()"></app-step-controller>
            </clr-step-content>
        </clr-stepper-panel>

        <clr-stepper-panel formGroupName="networkForm" removeAriaLabelledBy>
            <clr-step-title i18n="Kubernetes network step name">
                Kubernetes Network
            </clr-step-title>
            <clr-step-description i18n="Kubernetes network step description">
                {{ getStepDescription('network') }}
            </clr-step-description>
            <ng-container *ngIf="steps[4]">
                <app-shared-network-step [formGroup]="form.controls.networkForm" formName="network">
                </app-shared-network-step>
            </ng-container>
            <clr-step-content *clrIfExpanded>
                <app-step-controller (nextStep)="onNextStep()"></app-step-controller>
            </clr-step-content>
        </clr-stepper-panel>

        <clr-stepper-panel formGroupName="identityForm" removeAriaLabelledBy>
            <clr-step-title i18n="identity step title">
                Identity Management
            </clr-step-title>
            <clr-step-description i18n="identity step description">
                {{ getStepDescription('identity') }}
            </clr-step-description>
            <ng-container *ngIf="steps[5]">
                <app-shared-identity-step
                        [formGroup]="form.controls.identityForm"
                        formName="identity">
                </app-shared-identity-step>
            </ng-container>
            <clr-step-content *clrIfExpanded>
                <app-step-controller (nextStep)="onNextStep()"></app-step-controller>
            </clr-step-content>
        </clr-stepper-panel>

        <clr-stepper-panel formGroupName="osImageForm">
            <clr-step-title i18n="OS Image">
                OS Image
            </clr-step-title>
            <clr-step-description i18n="OS Imagedescription">
                {{ getStepDescription('osImage') }}
            </clr-step-description>
            <ng-container *ngIf="steps[6]">
                <app-os-image-step [formGroup]="form.controls.osImageForm"
                    formName="osimages" [wizardFormService]="wizardFormService" type="AWS"
                    osImageTooltipContent="tooltip content placeholder">
                </app-os-image-step>
            </ng-container>
            <clr-step-content *clrIfExpanded>
                <app-step-controller (nextStep)="onNextStep()"></app-step-controller>
            </clr-step-content>
        </clr-stepper-panel>

        <clr-stepper-panel formGroupName="registerTmcForm" removeAriaLabelledBy>
            <clr-step-title i18n="register tmc step title">
                Register TMC
            </clr-step-title>
            <clr-step-description i18n="register tmc step description">
                Optionally Register with Tanzu Mission Control
            </clr-step-description>
            <ng-container *ngIf="steps[7]">
                <app-shared-register-tmc-step
                        [formGroup]="form.controls.registerTmcForm"
                        formName="registerTmc">
                </app-shared-register-tmc-step>
            </ng-container>
            <clr-step-content *clrIfExpanded>
                <app-step-controller (nextStep)="onNextStep()"></app-step-controller>
            </clr-step-content>
        </clr-stepper-panel>

        <clr-stepper-panel formGroupName="ceipOptInForm" removeAriaLabelledBy>
            <clr-step-title i18n="ceip agreement step title">
                CEIP Agreement
            </clr-step-title>
            <clr-step-description i18n="ceip agreement step description">
                Join the CEIP Program for TKG
            </clr-step-description>
            <ng-container *ngIf="steps[8]">
                <app-shared-ceip-step
                    [formGroup]="form.controls.ceipOptInForm"
                    formName="ceipOptIn">
                </app-shared-ceip-step>
            </ng-container>
            <clr-step-content *clrIfExpanded>
                <app-step-controller (nextStep)="onNextStep()"></app-step-controller>
            </clr-step-content>
        </clr-stepper-panel>
    </form>
    <button class="btn btn-primary mt-20" [disabled]="!getWizardValidity()" (click)="reviewConfiguration(true)"
            i18n="review management cluster configuration btn">
        REVIEW CONFIGURATION
    </button>
</div>

<ng-container *ngIf="review">
    <tkg-kickstart-ui-confirm [errorNotification]="errorNotification"></tkg-kickstart-ui-confirm>
    <div class="clr-row mt-20">
        <div class="clr-col-12 btn-container">
            <button class="btn btn-outline edit-btn" (click)="reviewConfiguration(false)"
                i18n="return to wizard for edit button">
                Edit Configuration
            </button>
            <button class="btn btn-primary deploy-btn" [disabled]="disableDeployButton" (click)="deploy()" i18n="confirm deploy management cluster button">
                Deploy Management Cluster
            </button>
        </div>
    </div>
</ng-container>
