.card-icon {
    position: relative;
    left: 43%;
}

.card-title {
    text-align: center;
}

.card-selected {
    box-shadow: 0 .15rem 0 0 var(--clr-card-clickable-box-shadow-color);
    border-style: solid;
    transform: translateY(-.1rem);
    transition: border .2s ease,transform .2s ease,-webkit-transform .2s ease;
    border-color: var(--clr-card-clickable-border-color, #179bd3);
}

.ha-template {
    display: inline-block;
}

.refresh-btn {
    cursor: pointer;
    margin-left: 10px;
    display: inline-block;

    .refresh-label {
        padding: 5px;
        position: relative;
        top: 2px;
    }
}

.node-type-container {
    max-width: 50%;
}

.node-type-select {
    display: inline-block;
    max-width: 220px;
}

// tooltip max-width fix
:host ::ng-deep clr-tooltip {
    clr-tooltip-content {
        max-width: 300px;
    }
}

.clr-row {
    &.showAdvanced {
        display: none;
    }
}
