#@data/values
---

#! User configurable values for tkg.

metadata:
  infraProvider: ""

configvalues:

frameworkPackage:
  namespaceForPackageInstallation: tkg-system
  featureGatesPackageValues:
    namespace: tkg-system
    createNamespace: false
  tkrServicePackageValues:
    namespace: tkg-system
    createNamespace: false
