:host ::ng-deep button.clr-accordion-header-button {
    font-size: 14px;
    padding: 9px 18px;
}

clr-icon.back-link {
    margin-right: 8px;
    cursor: pointer;
    position: relative;
    top: 33px;
    float: left;
}

.docker-icon-30 {
    position: relative;
    top: -2px;
}