<div [ngClass]="{'hide': review}">
    <div class="clr-row mb-20">
        <div class="clr-col-12">
            <h2 i18n="wizard title">
                <clr-icon
                        shape="arrow"
                        dir="left"
                        size="30"
                        class="is-info back-link"
                        (click)="navigate(APP_ROUTES.LANDING)"></clr-icon>
                <div class="docker-icon-30"></div>
                Deploy Management Cluster on Docker
            </h2>
        </div>
    </div>
    <app-shared-delete-data-popup></app-shared-delete-data-popup>
    <form clrStepper #wizard [formGroup]="form">
        <clr-stepper-panel formGroupName="dockerDaemonForm">
            <clr-step-title i18n="docker daemon step name">
                Docker Daemon
            </clr-step-title>
            <clr-step-description i18n="IaaS provder step description">
                Validate the local Docker daemon
            </clr-step-description>
            <ng-container *ngIf="steps[0]">
                <app-daemon-validation-step [formGroup]="form.controls.dockerDaemonForm" formName="dockerDaemon">
                </app-daemon-validation-step>
            </ng-container>
            <clr-step-content *clrIfExpanded>
                <app-step-controller (nextStep)="onNextStep()"></app-step-controller>
            </clr-step-content>
        </clr-stepper-panel>

        <clr-stepper-panel formGroupName="networkForm">
            <clr-step-title i18n="Kubernetes network step name">
                Kubernetes Network
            </clr-step-title>
            <clr-step-description i18n="Kubernetes network step description">
                {{ getStepDescription('network') }}
            </clr-step-description>
            <ng-container *ngIf="steps[1]">
                <app-shared-network-step [formGroup]="form.controls.networkForm" formName="network">
                </app-shared-network-step>
            </ng-container>
            <clr-step-content *clrIfExpanded>
                <app-step-controller (nextStep)="onNextStep()"></app-step-controller>
            </clr-step-content>
        </clr-stepper-panel>

        <clr-stepper-panel formGroupName="identityForm">
            <clr-step-title i18n="identity step title">
                Identity Management
            </clr-step-title>
            <clr-step-description i18n="identity step description">
                {{ getStepDescription('identity') }}
            </clr-step-description>
            <ng-container *ngIf="steps[2]">
                <app-shared-identity-step
                        [formGroup]="form.controls.identityForm"
                        formName="identity">
                </app-shared-identity-step>
            </ng-container>
            <clr-step-content *clrIfExpanded>
                <app-step-controller (nextStep)="onNextStep()"></app-step-controller>
            </clr-step-content>
        </clr-stepper-panel>
    </form>
    <button class="btn btn-primary mt-20" [disabled]="!getWizardValidity()" (click)="reviewConfiguration(true)"
            i18n="review management cluster configuration btn">
        REVIEW CONFIGURATION
    </button>
</div>
<ng-container *ngIf="review">
    <tkg-kickstart-ui-confirm [errorNotification]="errorNotification"></tkg-kickstart-ui-confirm>
    <div class="clr-row mt-20">
        <div class="clr-col-12">
            <button class="btn btn-primary" [disabled]="disableDeployButton" (click)="deploy()" i18n="confirm deploy management cluster button">
                Deploy Management Cluster
            </button>
            <button class="btn btn-outline" (click)="reviewConfiguration(false)"
                i18n="return to wizard for edit button">
                Edit Configuration
            </button>
        </div>
    </div>
</ng-container>
