<div [ngClass]="{'hide': review}">
    <div class="clr-row mb-20">
        <div class="clr-col-12">
            <clr-icon shape="arrow" dir="left" size="30" class="is-info back-link"
                role="button"
                tabindex="0"
                aria-label="back"
                (click)="navigate(APP_ROUTES.LANDING)"
                keyboardListener
            ></clr-icon>
            <h2 i18n="wizard title" aria-level="1">
                <div class="vsphere-icon-30 offset-top-2"></div>
                Deploy {{ clusterTypeDescriptorTitleCase }} Cluster on vSphere
            </h2>
            <ng-container *featureToggle="'management-cluster.import'">
                <input type="file" class="file-input"
                       (change)="onImportFileSelected($event)" #fileUpload>
                <button class="btn btn-outline import-btn" (click)="onImportButtonClick() && fileUpload.click()"
                        i18n="import configuration button">
                    Import Configuration
                </button>
            </ng-container>
        </div>
    </div>
    <app-shared-delete-data-popup></app-shared-delete-data-popup>

    <app-step-wrapper-set [wizard]="registrar"></app-step-wrapper-set>

    <button class="btn btn-primary mt-20" [disabled]="!getWizardValidity()" (click)="reviewConfiguration(true)"
        i18n="review cluster configuration btn">
        REVIEW CONFIGURATION
    </button>
</div>

<ng-container *ngIf="review">
    <tkg-kickstart-ui-confirm></tkg-kickstart-ui-confirm>
    <app-error-notification [errorNotification]="errorNotification"></app-error-notification>
    <div class="clr-row mt-20">
        <div class="clr-col-12 btn-container">
            <button class="btn btn-primary deploy-btn" [disabled]="disableDeployButton" (click)="deploy()"
                    i18n="deploy cluster configuration btn">
                Deploy {{ clusterTypeDescriptorTitleCase }} Cluster
            </button>
            <button class="btn btn-outline edit-btn" (click)="reviewConfiguration(false)"
                i18n="return to wizard for edit button">
                Edit Configuration
            </button>
            <ng-container *featureToggle="'management-cluster.export-from-confirm'">
                <button class="btn btn-link export-btn" (click)="exportConfiguration()"
                        i18n="export configuration button">
                    Export Configuration
                </button>
            </ng-container>
        </div>
    </div>
</ng-container>
