SERVER_URL=localhost:4200
CHROME_OPTIONS=chrome
MC_NAME=mgmt-vsphere-e2e

AWS_SECRET_ACCESS_KEY=USE_YOUR_OWN
AWS_REGION=US-WEST
AWS_ACCESS_KEY_ID=USE_YOUR_OWN
AWS_SSH_KEY_NAME="default"
AWS_EXISTING_VPC_ID=vpc-1

VCIP=vsphere.local
DEFAULT_VC_USER=administrator@vsphere.local
DEFAULT_VC_PASSWORD='Admin!23'
DEFAULT_SSH_KEY=123457892342134

AZURE_TENANT_ID=USE_YOUR_OWN
AZURE_CLIENT_ID=USE_YOUR_OWN
AZURE_CLIENT_SECRET=USE_YOUR_OWN
AZURE_SUBSCRIPTION_ID=USE_YOUR_OWN
AZURE_REGION="West US"
AZURE_SSH_PUBLIC_KEY_B64=1234567891234