@import '../../../../../../../../sass/properties.scss';

.tmc-reg-input {
    width: 360px;
}

.registration-container {
    display: flex;

    .get-yaml-btn {
        flex-direction: column;
        display: flex;
        justify-content: flex-end;
    }
}
.yaml-content-container {
    position: relative;
    
    &:focus {
        outline: none;
    }
    .mask {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 200;
        opacity: 0;
    }
}

@media (max-width: $small) {
    .registration-container {
        flex-direction: column;
        .get-yaml-btn {
            width: 115px;
            padding-top: 20px;
        }
    }
}
