<form [formGroup]="formGroup">
    <clr-checkbox-container [attr.data-step-metadata]="formName">
        <label i18n="cluster enable audit logging" clr-control-label>
            {{label}}
            <clr-tooltip>
                <clr-icon clrTooltipTrigger shape="info-circle" size="22"></clr-icon>
                <clr-tooltip-content clrPosition="top-left" clrSize="lg" *clrIfOpen>
                    <span>
                        Enable audit logging for the Kubernetes API server and node VMs.
                    </span>
                </clr-tooltip-content>
            </clr-tooltip>
        </label>
        <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox name="enableAuditLogging" formControlName="enableAuditLogging" />
            <label>Enable</label>
        </clr-checkbox-wrapper>
    </clr-checkbox-container>
</form>
