#@data/values
#@overlay/match-child-defaults missing_ok=True
---
namespace: tkg-system
bomImagePath:
bomMetadataImagePath:
tkrRepoImagePath:
defaultCompatibleTKR:
skipVerifyRegistryCert: false
initialDiscoverFrequency: 60
continuousDiscoverFrequency: 600
deployment:
  hostNetwork: false
  nodeSelector: null
  tolerations: []
  httpProxy:
  httpsProxy:
  noProxy:
  #! If hostNetwork is set to true the below two ports should be different
  vsphereTemplateResolverWebhookServerPort: 9443
