#@data/values
#@overlay/match-child-defaults missing_ok=True

---
imageInfo:
  imageRepository: projects-stg.registry.vmware.com/tkg
  imagePullPolicy: IfNotPresent
  images:
    kappControllerImage:
      imagePath: kapp-controller
      tag: v0.18.0_vmware.1
kappController:
  namespace: tkg-system
  createNamespace: true
  deployment:
    hostNetwork: null
    priorityClassName: null
    concurrency: 2
  config:
    caCerts: ""
    httpProxy: ""
    httpsProxy: ""
    noProxy: ""
    dangerousSkipTLSVerify: ""
