<form [formGroup]="formGroup">
    <div class="clr-row">
        <div class="clr-col-12">
            <clr-input-container [attr.data-step-metadata]="formName" data-name="clusterLabels" data-label="labels"
                [attr.data-value]="clusterLabelsValue">
                <label i18n="labels label" clr-control-label
                    [class.label-disabled]="!loadConnected && formName==='loadBalancerForm' ">
                    {{formName==='loadBalancerForm'? 'CLUSTER LABELS (OPTIONAL)':'LABELS (OPTIONAL)'}}
                    <clr-tooltip>
                        <clr-icon aria-live="assertive" a11yTooltipTrigger shape="info-circle" size="22"></clr-icon>
                        <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
                            <span *ngIf="formName!=='loadBalancerForm'">
                                Optionally specify labels for the {{ clusterTypeDescriptor }} cluster.
                            </span>
                            <span *ngIf="formName==='loadBalancerForm'">
                                By default, all clusters will have NSX Advanced Load Balancer enabled. Here you may
                                optionally specify cluster labels to identify a subset of clusters that should have
                                NSX
                                Advanced Load Balancer enabled. Note: Ensure that these labels are present on
                                individual
                                clusters that should be enabled with NSX Advanced Load Balancer.
                            </span>
                        </clr-tooltip-content>
                    </clr-tooltip>
                </label>
            </clr-input-container>
            <span *ngIf="formName==='loadBalancerForm'">
                By default, all clusters will have NSX Advanced Load Balancer enabled. Here you may optionally
                specify cluster labels to identify a subset of clusters that should have NSX Advanced Load Balancer
                enabled.
            </span>
        </div>
    </div>
    <div class="clr-row">
        <div class="clr-col-12">
            <div *ngIf="labelArray?.length; then hasLabels"></div>
            <ng-template #hasLabels>
                <div formArrayName="labelList">
                    <div class="clr-row label-container" *ngFor="let label of labelArray.controls; let i = index"
                        [formGroup]="label">

                        <clr-input-container class="label-input">
                            <input clrInput formControlName="key" placeholder="key" aria-label="label key" />
                            <!-- Add a empty helper to avoid accessibility aria-describeby issue -->
                            <clr-control-helper></clr-control-helper>
                            <clr-control-error i18n="cluster label valid msg"
                                *clrIfError="validatorEnum.VALID_CLUSTER_NAME" class="err-label">
                                {{ labelTypeValue }} Cluster label keys must start and end with an alphanumeric
                                character,
                                and can contain only
                                letters, numbers, hyphens, underscores, and dots.
                            </clr-control-error>
                            <clr-control-error i18n="cluster label valid msg" *clrIfError="validatorEnum.WHITESPACE"
                                class="err-label">
                                {{ labelTypeValue }} Cluster label keys must not include whitespace on ends.
                            </clr-control-error>
                            <clr-control-error i18n="cluster label valid msg" *clrIfError="validatorEnum.MAX_LEN"
                                class="err-label">
                                {{ labelTypeValue }} Cluster label keys max length is 63 characters.
                            </clr-control-error>
                            <clr-control-error i18n="cluster label valid msg" *clrIfError="validatorEnum.LABEL_UNIQUE"
                                class="err-label">
                                A Label with the same key already exists.
                            </clr-control-error>
                            <clr-control-error i18n="cluster label valid msg" *clrIfError="validatorEnum.REQUIRED"
                                class="err-label">
                                {{ labelTypeValue }} Cluster label keys is required if its value is not empty.
                            </clr-control-error>
                        </clr-input-container>

                        <span class="label-input">:</span>

                        <clr-input-container class="label-input">
                            <input clrInput formControlName="value" placeholder="value" aria-label="label value" />
                            <!-- Add a empty helper to avoid accessibility aria-describeby issue -->
                            <clr-control-helper></clr-control-helper>
                            <clr-control-error i18n="cluster label valid msg"
                                *clrIfError="validatorEnum.VALID_CLUSTER_NAME" class="err-label">
                                {{ labelTypeValue }} Cluster label values must start and end with an
                                alphanumeric character, and can contain only
                                letters, numbers, hyphens, underscores, and dots.
                            </clr-control-error>
                            <clr-control-error i18n="cluster label valid msg" *clrIfError="validatorEnum.WHITESPACE"
                                class="err-label">
                                {{ labelTypeValue }} Cluster label values must not include
                                whitespace on ends.
                            </clr-control-error>
                            <clr-control-error i18n="cluster label valid msg" *clrIfError="validatorEnum.MAX_LEN"
                                class="err-label">
                                {{ labelTypeValue }} Cluster label values max length is 63
                                characters.
                            </clr-control-error>
                            <clr-control-error i18n="cluster label valid msg" *clrIfError="validatorEnum.REQUIRED"
                                class="err-label">
                                {{ labelTypeValue }} Cluster label value is required if its key is
                                not empty.
                            </clr-control-error>
                        </clr-input-container>

                        <button id="label-delete-{{i}}" class="btn btn-sm btn-label btn-delete" (click)="deleteLabel(i)"
                            role="button" aria-label="delete label" *ngIf="labelArray.length > 1">
                            <clr-icon shape="trash" size="18">
                            </clr-icon>
                        </button>

                    </div>
                </div>

            </ng-template>
            <div class="clr-row label-container">
                <button class="btn btn-sm btn-label" (click)="addLabel()" role="button" aria-label="add label"
                    [disabled]="!loadConnected && formName==='loadBalancerForm'">ADD</button>
            </div>
        </div>
    </div>
</form>