<form [formGroup]="formGroup">
    <h4>Optionally Specify an AMI Alternate Org ID</h4>
    <div class="clr-row">
        <div class="clr-col-4">
            <clr-input-container [attr.data-step-metadata]="formName">
                <label i18n="ami org id label" clr-control-label>
                    OPTIONAL AMI ORG ID
                    <clr-tooltip>
                        <clr-icon aria-live="assertive" a11yTooltipTrigger shape="info-circle" size="22"></clr-icon>
                        <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
                            <span>Alternate namespace ID for locating a custom AMI.</span>
                        </clr-tooltip-content>
                    </clr-tooltip>
                </label>
                <input clrInput formControlName="amiOrgId" placeholder="optional AMI Org ID" />
            </clr-input-container>
        </div>
    </div>
</form>
