@import '../landing.component.scss';

.card {
    &.provider {
        .card-block,
        .card-footer {
            text-align: center;

            .btn {
                margin: 0;
            }
        }

        .card-media-block {
            justify-content: center;
            align-items: center;
        }

        .card-block {
            min-height: 170px;
        }
    }
}
