#@ load("@ytt:data", "data")
---
apiVersion: cni.tanzu.vmware.com/v1alpha1
kind: CalicoConfig
metadata:
  name: #@ data.values.TKR_VERSION
  namespace: #@ data.values.GLOBAL_NAMESPACE
  annotations:
    tkg.tanzu.vmware.com/template-config: "true"
spec:
  calico:
    config:
      vethMTU: 0
      skipCNIBinaries: true
---
apiVersion: cni.tanzu.vmware.com/v1alpha1
kind: CalicoConfig
metadata:
  name: #@ "{}-docker".format(data.values.TKR_VERSION)
  namespace: #@ data.values.GLOBAL_NAMESPACE
  annotations:
    tkg.tanzu.vmware.com/template-config: "true"
spec:
  calico:
    config:
      vethMTU: 0
      skipCNIBinaries: false
