#@data/values
---
repositories:
  runtime-core:
    version: null
    sha256: latest
    name: runtime-core
    domain: tanzu.vmware.com
    registry: registry

    packageSpec:
      syncPeriod: 5m
      deploy:
        kappWaitTimeout: 5m
        kubeAPIQPS: 20
        kubeAPIBurst: 30

    packages:
      - name: featuregates
        displayName: featuregates
        #! Relative path to package bundle
        path: packages/featuregates
        domain: tanzu.vmware.com
        version: latest
        #! Gets replaced with imgpkg sha256 at build, this should be name:version
        sha256: "featuregates:latest"

      - name: capabilities
        path: packages/capabilities
        domain: tanzu.vmware.com
        version: latest
        sha256: "capabilities:latest"
