#@ load("@ytt:data", "data")
---
apiVersion: cni.tanzu.vmware.com/v1alpha2
kind: AntreaConfig
metadata:
  name: #@ data.values.TKR_VERSION
  namespace: #@ data.values.GLOBAL_NAMESPACE
  annotations:
    tkg.tanzu.vmware.com/template-config: "true"
spec:
  antrea:
    config:
      trafficEncapMode: "encap"
      noSNAT: false
      tlsCipherSuites: TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_RSA_WITH_AES_256_GCM_SHA384
      disableUdpTunnelOffload: false
      featureGates:
        AntreaIPAM: false
        AntreaPolicy: true
        AntreaProxy: true
        AntreaTraceflow: true
        Egress: true
        EndpointSlice: true
        FlowExporter: false
        Multicast: false
        Multicluster: false
        NetworkPolicyStats: false
        NodePortLocal: true
        SecondaryNetwork: false
        ServiceExternalIP: false
        TrafficControl: false
        TopologyAwareHints: false
---
apiVersion: cni.tanzu.vmware.com/v1alpha2
kind: AntreaConfig
metadata:
  name: #@ "{}-routable".format(data.values.TKR_VERSION)
  namespace: #@ data.values.GLOBAL_NAMESPACE
  annotations:
    tkg.tanzu.vmware.com/template-config: "true"
spec:
  antrea:
    config:
      trafficEncapMode: "noEncap"
      noSNAT: true
      tlsCipherSuites: TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_RSA_WITH_AES_256_GCM_SHA384
      disableUdpTunnelOffload: false
      featureGates:
        AntreaIPAM: false
        AntreaPolicy: true
        AntreaProxy: true
        AntreaTraceflow: true
        Egress: true
        EndpointSlice: true
        FlowExporter: false
        Multicast: false
        Multicluster: false
        NetworkPolicyStats: false
        NodePortLocal: true
        SecondaryNetwork: false
        ServiceExternalIP: false
        TrafficControl: false
        TopologyAwareHints: false
