name: Provider Template Tests
# note: this name is referenced in recv_providers.yaml

on:
  # only on pull requests as some tests involves comparing results based on differences
  # between source and target branches
  pull_request:
    branches: [ main, release-* ]
    paths:
    - 'pkg/v1/tkg/**'
    - 'pkg/v1/providers/**'

jobs:
  build:
    name: Providers Templates Tests
    runs-on: ubuntu-latest
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: yaml-lint
      uses: ibiqlik/action-yamllint@v3
      with:
        file_or_dir: pkg/v1/providers
        config_file: pkg/v1/providers/.yamllint

    - name: Set up Go 1.x
      uses: actions/setup-go@v3
      with:
        go-version: '1.17'
      id: go

    - name: Extract PR Info
      shell: bash
      run: |
        echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        echo "##[set-output name=basebranch;]$(echo ${GITHUB_BASE_REF#refs/heads/})"
        echo "##[set-output name=prnum;]$(echo "$GITHUB_REF" | awk -F / '{print $3}')"
      id: extract_pr

    - name: Setup dependencies
      run: |
        mkdir -p bin
        wget -q https://storage.googleapis.com/tkg-cli-builds/bin/pict.linux -O bin/pict
        chmod +x bin/pict
        wget -q https://github.com/vmware-tanzu/carvel-ytt/releases/download/v0.30.0/ytt-linux-amd64 -O bin/ytt
        chmod +x bin/ytt
        echo "$PWD/bin" >> $GITHUB_PATH

    - name: Run clustergen verification tests
      run: |
        echo BRANCH=${{ steps.extract_pr.outputs.branch }}
        echo PRNUM==${{ steps.extract_pr.outputs.prnum }}
        echo BASEBRANCH=${{ steps.extract_pr.outputs.basebranch }}
        env BASEBRANCH=${{ steps.extract_pr.outputs.basebranch }}
        status=$(test -s ./pkg/v1/providers/tests/clustergen/testdata/clustergen.diff.txt; echo $?)
        CLI_REPO=$PWD ./hack/clustergen/ci-validate-clustergen.sh ${{ steps.extract_pr.outputs.branch }} ${{ steps.extract_pr.outputs.basebranch }}
        echo "##[set-output name=diffstatus;]$status"
        echo $status > ./pkg/v1/providers/tests/clustergen/testdata/clustergen.status
        echo ${{ steps.extract_pr.outputs.prnum }} > ./pkg/v1/providers/tests/clustergen/testdata/prnum
      id: clustergen

    - id: publish-clustergen-results-as-artifacts
      uses: actions/upload-artifact@v2
      with:
        name: clustergen-output
        path: |
           ./pkg/v1/providers/tests/clustergen/testdata/prnum
           ./pkg/v1/providers/tests/clustergen/testdata/clustergen.status
           ./pkg/v1/providers/tests/clustergen/testdata/clustergen.diff.txt
           ./pkg/v1/providers/tests/clustergen/testdata/clustergen.html
