name: Release

on:
  push:
    branches:
      - "!not_activated_on_branches!*"
    tags:
      - "v*"

jobs:

  build:
    name: Release
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: '1.16'
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Config credentials
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git config --global url."https://git:$GITHUB_TOKEN@github.com".insteadOf "https://github.com"

    - name: Get dependencies
      run: |
        go get -v -t -d ./...
        if [ -f Gopkg.toml ]; then
            curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
            dep ensure
        fi

    - name: Build
      run: make all

    - name: Test
      run: make test

    - id: upload-cli-admin-artifacts
      # disable unsigned/untested artifacts upload to bucket
      if: ${{ false }}
      uses: google-github-actions/upload-cloud-storage@main
      with:
        path: ./artifacts-admin
        destination: tanzu-cli-admin-plugins
        credentials: ${{ secrets.GCP_BUCKET_SA }}

    - id: create_draft_release
      name: Create Draft Release
      uses: softprops/action-gh-release@v1
      with:
        draft: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
